<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg" alt="logo">
        <h2>lugar para poner barra de busqueda</h2>
        <h3>Compra en cuotas y sin tarjeta de credito</h3>
        <nav>
            <ul>
                <li> Ofertas </li>
                <li> Tiendas oficiales </li>
                <li> Vender </li>
                <li> Ayuda </li>
            </ul>
            <ul>
                <li> Crea tu Cuenta </li>
                <li> Ingresa </li>
                <li> Mis Compras </li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Basado en tu ultima visita</h3>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <h5>$6.700</h5>
                <h5>40% OFF</h5>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h5>Macbook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <h5>$70.500</h5>
                <h5>10% OFF</h5>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h5>SamsungTv Smart 43"</h5>
            </article>
        </section>
        <h3>Seccion de ofertas</h3>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <h5>$6.700</h5>
                <h5>40% OFF</h5>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h5>Macbook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <h5>$70.500</h5>
                <h5>10% OFF</h5>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h5>SamsungTv Smart 43"</h5>
            </article>
        </section>
    </main>
    <footer>
        <h3>Paga con tarjeta de credigo</h3>
        <section>
            <article>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </article>
        </section>
        <h3>Envío gratis desde $ 2.500</h3>
        <section>
            <article>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </article>
        </section>
        <h3>Seguridad, de principio a fin</h3>
        <section>
            <article>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </article>
        </section>
        <section>Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</body>

</html>